{% extends 'Pmanage/layout.html' %}

{% block body %}
<!-- Create Task -->
<script>
    document.addEventListener("load",()=>{document.querySelector("#submit").innerHTML = "Save";})
</script>
{% for pro in projects %}
<ul>
    <li><a href="{% url 'Cplan' pro.id %}">{{pro.Project_name}}</a></li>
</ul>

{% endfor %}

{% for pro in Project %}
<form action="{% url 'Cplan' pro.id %}" method="POST">
    {% csrf_token %}
    <select>
    <option name="projectname" value="pro.id">{{pro.Project_name}}</option>
</select>
<label>Task Name</label>
<input type="text" name="taskname">
<input type="submit" id="submit">
</form>
{% endfor %}


{% endblock %}