{% extends 'Pmanage/layout.html' %}
{% block body %}
<style>
    .h1center{
    text-align: center;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col" id="heading" style="border: solid 1px;">
             <h1 class="h1center">Create Project</h1>
        </div>
      </div>
     <div class="row">
        <div class="col h1center" id="content" style="border: solid 1px;">
             <form action="">
                 <label>Project Title</label>
                 <input type="text" name="Pname">
                 <label>Team Leader</label>
                 <input type="text" name="team">
                 <input type="submit">
             </form>
        </div>
      </div>
  </div>
{% endblock %}