{% extends 'Pmanage/layout.html' %}
{% block body %}
{% for p in Project %}
<ul>
    <li><a href="{% url 'PID' p.id %}">{{p.Project_name}}</a></li>
    {% for t in Tasks %}
    <ul>
        <li><a href="{% url 'inditask' t.id %}"  >{{t.taskname}}</a></li>
        <progress value="{{t.taskpercentage}}" max="100"  id="progressbar"></progress>
    </ul>
    {% endfor %}
</ul>
<form method="POST" action="{% url 'Cplan' p.id %}">
    {% csrf_token %}
Add New Task
    <input type="text" name="task1">
    <input type="submit">
</form>
{% endfor %}

{% endblock %}