{% extends 'Pmanage/layout.html' %}
{% block title %}
Report
{% endblock title %}
{% block active4 %} active {% endblock active4 %}
{% block body %}
{% for project_release in projs %}
<ul>
    <form action="{% url 'reported' project_release.id  %}" method="POST" >
      <li hidden="True" id="id">{{project_release.id}}</li>
        {% csrf_token %}
    <li>
      {{project_release.Project_name}} and {{project_release.status}}
    </li>
    <textarea name="Report"></textarea>
    <button >Report</button>
</form>
<button value="{{project_release.id}}" id="shows">Show Reports</button>
</ul>

{% endfor %}
<div id="show"></div>
<script>
let funzr =document.addEventListener('click',
  function ()
  {
  let id=document.querySelectorAll("#id");
  let test=event.target
  eve(test.value)
  document.querySelector('#show').innerHTML=' ';
  });
   
  function eve(id)
  {
    let div=document.querySelector('#show');
  fetch(`/${id}/reports`,
  {
    method:"GET"
  })
  .then(response=>response.json())
  .then(response=>{
    response.forEach(element => {
      let p=document.createElement('p');
      p.append(element);
      div.appendChild(p)
    });
  })

  }
</script>
{% endblock %}