{% extends 'Pmanage/layout.html' %}
{% block body %}
{% for project_release in projs %}
<ul>
    <form action="{% url 'reported' project_release.id  %}" method="POST" >
      <li hidden="True" id="id">{{project_release.id}}</li>
        {% csrf_token %}
    <li>
      {{project_release.Project_name}} and {{project_release.status}}
    </li>
    <textarea name="Report"></textarea>
    <button >Report</button>
</form>
<button value="{{project_release.id}}" id="shows">Show Reports</button>
</ul>
<div id="show"></div>
{% endfor %}

<script>
let funzr =document.addEventListener('click',
  function ()
  {
  let id=document.querySelectorAll("#id");
  let test=event.target
  console.log(test.value)
  eve(test.value)

  });
   
  function eve(id)
  {
  fetch(`/${id}/reports`,
  {
    method:"GET"
  })
  .then(response=>response.json())
  .then(response=>{
    console.log(response)
  })
  }
</script>
{% endblock %}