{% extends 'Pmanage/layout.html' %}
{% load static %}
{% block title %}
Report
{% endblock title %}
{% block active4 %} active {% endblock active4 %}
{% block body %}
{% for project_release in projs %}
<ul class="list-group">
    <form action="{% url 'reported' project_release.id  %}" method="POST" >
      <li hidden="True" id="id">{{project_release.id}}</li>
        {% csrf_token %}
    <li  class="list-group-item">
      {{project_release.Project_name}} and {{project_release.status}}
    </li>
    <li class="list-group-item"><textarea   style="height: 200px; width: 1275px;" name="Report"></textarea></li>
    <button  class="btn btn-outline-primary"  class="list-group-item">Report</button>
</form>
<button value="{{project_release.id}}" id="shows"  class="btn btn-dark" >Show Reports</button>
</ul>

{% endfor %}
<div  class="container-fluid">
<div id="show" class="list-group-item"></div>
</div>
<script src="{% static 'Pmanage/report.js' %}"></script>
{% endblock %}