{% extends 'Pmanage/layout.html' %}
{% block body %}
{% for p in projects %}
<ul>
    <form action="{% url 'Ptask' p.id %}">
    <li hidden="true" name="taskid" id="taskid">{{p.id}}</li>
    <li>{{p.taskname}}</li>
    <li>{{p.taskpercentage}}</li>
    <label>Edit Task</label>
    <input type="number" id="percent" name="percentage"/>
    <button id="but" value="{{p.taskpercentage}}">Save</button>

    </form>
    {% if p.taskpercentage == 100 %}
        <button name="release">Release</button>
        {% endif %}
</ul>
{% endfor %}

{% endblock %}